

#joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
#json5==0.9.5


numpy ==1.20.1

pandas ==1.2.4


#pydantic==1.8.2

#scikit-image==0.18.1
#scikit-learn @ file:///C:/ci/scikit-learn_1614446896245/work
sklearn==0.24.1

streamlit==0.87.0

#uvicorn==0.14.0

xgboost==1.4.2

